<div class="card rounded-3 border shadow-lg">
  <div class="card-body">
    <h5 class="card-title text-center pb-2 border-bottom">Follow People</h5>
    @for (user of suggestions.content; track user) {
      <div class="d-flex align-items-center">
        <img [src]="user.avatar" class="me-3 rounded-circle border-0" width="48" height="48" alt="{{user.username}}" />
        <div class="py-2 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
            <div class="text-truncate my-auto">
                <strong class="text-gray-dark">{{user.firstName}} {{user.lastName}}</strong>
                <span class="text-muted d-block">{{user.username}}</span>
            </div>
            <button class="btn btn-sm text-primary text-decoration-none my-auto" (click)="followUser(user.username)">
              <i class="fas fa-shoe-prints"></i> Follow
            </button>
          </div>
        </div>
      </div>
    }
    @if (!suggestions || !suggestions.content.length) {
      <div class="d-flex">
        <div class="py-3 mb-0 small lh-sm border-bottom w-100 text-muted">
          You are following everybody!
        </div>
      </div>
    }
    <small class="d-block text-end mt-3">
      <button class="btn btn-sm btn-link" [disabled]="!suggestions || suggestions.last" (click)="loadMore()">More Suggestions</button>
    </small>
  </div>
</div>
