<div class="row">
  <div class="col-md-3">
    <app-left-sidebar></app-left-sidebar>
  </div>
  <div class="col-md-6">
    <div class="card rounded-3 border shadow-lg">
      <div class="card-body">
        <form [formGroup]="postForm">
          <div class="form-floating">
            <textarea formControlName="body" class="form-control h-auto" placeholder="Something's on your mind?"
                      id="post-area" rows="3" maxlength="4096"></textarea>
            <label for="post-area">Something's on your mind?</label>
            <span class="text-muted small position-absolute bottom-0 end-0 me-2 mb-1">
              <small>{{ postForm.get('body')?.value?.length || 0 }}/4096</small>
            </span>
          </div>
          <button type="button" class="btn btn-primary mt-2 float-end" [disabled]="!postForm.valid" (click)="addPost()">
            <i class="fas fa-pencil-alt"></i> Post
          </button>
        </form>
      </div>
    </div>
    @for (post of posts.content; track post.id) {
      <app-post [post]="post" (postDeleted)="onPostDeleted($event)"></app-post>
    }
    <div class="mt-2"></div>
  </div>
  <div class="col-md-3">
    <app-right-sidebar></app-right-sidebar>
  </div>
</div>
